@charset "UTF-8";

@font-face {
  font-family: "712-icon-fonts";
  src:url("fonts/712-icon-fonts.eot");
  src:url("fonts/712-icon-fonts.eot?#iefix") format("embedded-opentype"),
    url("fonts/712-icon-fonts.woff") format("woff"),
    url("fonts/712-icon-fonts.ttf") format("truetype"),
    url("fonts/712-icon-fonts.svg#712-icon-fonts") format("svg");
  font-weight: normal;
  font-style: normal;

}
@media screen and (-webkit-min-device-pixel-ratio:0) {
@font-face {
font-family: '712-icon-fonts';
src: url('fonts/712-icon-fonts.svg#712-icon-fonts') format('svg');

}
}

[data-icon]:before {
  font-family: "712-icon-fonts" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "712-icon-fonts" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-armchair-chair-streamline:before {
  content: "a";
}
.icon-arrow-streamline-target:before {
  content: "b";
}
.icon-backpack-streamline-trekking:before {
  content: "c";
}
.icon-bag-shopping-streamline:before {
  content: "d";
}
.icon-barbecue-eat-food-streamline:before {
  content: "e";
}
.icon-barista-coffee-espresso-streamline:before {
  content: "f";
}
.icon-bomb-bug:before {
  content: "g";
}
.icon-book-dowload-streamline:before {
  content: "h";
}
.icon-book-read-streamline:before {
  content: "i";
}
.icon-browser-streamline-window:before {
  content: "j";
}
.icon-brush-paint-streamline:before {
  content: "k";
}
.icon-bubble-comment-streamline-talk:before {
  content: "l";
}
.icon-bubble-love-streamline-talk:before {
  content: "m";
}
.icon-caddie-shop-shopping-streamline:before {
  content: "n";
}
.icon-caddie-shopping-streamline:before {
  content: "o";
}
.icon-camera-photo-polaroid-streamline:before {
  content: "p";
}
.icon-camera-photo-streamline:before {
  content: "q";
}
.icon-camera-streamline-video:before {
  content: "r";
}
.icon-chaplin-hat-movie-streamline:before {
  content: "s";
}
.icon-chef-food-restaurant-streamline:before {
  content: "t";
}
.icon-clock-streamline-time:before {
  content: "u";
}
.icon-cocktail-mojito-streamline:before {
  content: "v";
}
.icon-coffee-streamline:before {
  content: "w";
}
.icon-computer-imac:before {
  content: "x";
}
.icon-computer-imac-2:before {
  content: "y";
}
.icon-computer-macintosh-vintage:before {
  content: "z";
}
.icon-computer-network-streamline:before {
  content: "A";
}
.icon-computer-streamline:before {
  content: "B";
}
.icon-cook-pan-pot-streamline:before {
  content: "C";
}
.icon-crop-streamline:before {
  content: "D";
}
.icon-crown-king-streamline:before {
  content: "E";
}
.icon-danger-death-delete-destroy-skull-stream:before {
  content: "F";
}
.icon-dashboard-speed-streamline:before {
  content: "G";
}
.icon-database-streamline:before {
  content: "H";
}
.icon-delete-garbage-streamline:before {
  content: "I";
}
.icon-design-graphic-tablet-streamline-tablet:before {
  content: "J";
}
.icon-design-pencil-rule-streamline:before {
  content: "K";
}
.icon-diving-leisure-sea-sport-streamline:before {
  content: "L";
}
.icon-drug-medecine-streamline-syringue:before {
  content: "M";
}
.icon-earth-globe-streamline:before {
  content: "N";
}
.icon-eat-food-fork-knife-streamline:before {
  content: "O";
}
.icon-eat-food-hotdog-streamline:before {
  content: "P";
}
.icon-edit-modify-streamline:before {
  content: "Q";
}
.icon-email-mail-streamline:before {
  content: "R";
}
.icon-envellope-mail-streamline:before {
  content: "S";
}
.icon-eye-dropper-streamline:before {
  content: "T";
}
.icon-factory-lift-streamline-warehouse:before {
  content: "U";
}
.icon-first-aid-medecine-shield-streamline:before {
  content: "V";
}
.icon-food-ice-cream-streamline:before {
  content: "W";
}
.icon-frame-picture-streamline:before {
  content: "X";
}
.icon-grid-lines-streamline:before {
  content: "Y";
}
.icon-handle-streamline-vector:before {
  content: "Z";
}
.icon-happy-smiley-streamline:before {
  content: "0";
}
.icon-headset-sound-streamline:before {
  content: "1";
}
.icon-home-house-streamline:before {
  content: "2";
}
.icon-ibook-laptop:before {
  content: "3";
}
.icon-ink-pen-streamline:before {
  content: "4";
}
.icon-ipad-streamline:before {
  content: "5";
}
.icon-iphone-streamline:before {
  content: "6";
}
.icon-ipod-mini-music-streamline:before {
  content: "7";
}
.icon-ipod-music-streamline:before {
  content: "8";
}
.icon-ipod-streamline:before {
  content: "9";
}
.icon-japan-streamline-tea:before {
  content: "!";
}
.icon-laptop-macbook-streamline:before {
  content: "\"";
}
.icon-like-love-streamline:before {
  content: "#";
}
.icon-link-streamline:before {
  content: "$";
}
.icon-lock-locker-streamline:before {
  content: "%";
}
.icon-locker-streamline-unlock:before {
  content: "&";
}
.icon-macintosh:before {
  content: "'";
}
.icon-magic-magic-wand-streamline:before {
  content: "(";
}
.icon-magnet-streamline:before {
  content: ")";
}
.icon-man-people-streamline-user:before {
  content: "*";
}
.icon-map-pin-streamline:before {
  content: "+";
}
.icon-map-streamline-user:before {
  content: ",";
}
.icon-micro-record-streamline:before {
  content: "-";
}
.icon-monocle-mustache-streamline:before {
  content: ".";
}
.icon-music-note-streamline:before {
  content: "/";
}
.icon-music-speaker-streamline:before {
  content: ":";
}
.icon-notebook-streamline:before {
  content: ";";
}
.icon-paint-bucket-streamline:before {
  content: "<";
}
.icon-painting-pallet-streamline:before {
  content: "=";
}
.icon-painting-roll-streamline:before {
  content: ">";
}
.icon-pen-streamline:before {
  content: "?";
}
.icon-pen-streamline-1:before {
  content: "@";
}
.icon-pen-streamline-2:before {
  content: "[";
}
.icon-pen-streamline-3:before {
  content: "]";
}
.icon-photo-pictures-streamline:before {
  content: "^";
}
.icon-picture-streamline:before {
  content: "_";
}
.icon-picture-streamline-1:before {
  content: "`";
}
.icon-receipt-shopping-streamline:before {
  content: "{";
}
.icon-remote-control-streamline:before {
  content: "|";
}
.icon-settings-streamline:before {
  content: "}";
}
.icon-settings-streamline-1:before {
  content: "~";
}
.icon-settings-streamline-2:before {
  content: "\";
}
.icon-shoes-snickers-streamline:before {
  content: "\e000";
}
.icon-speech-streamline-talk-user:before {
  content: "\e001";
}
.icon-stamp-streamline:before {
  content: "\e002";
}
.icon-streamline-suitcase-travel:before {
  content: "\e003";
}
.icon-streamline-sync:before {
  content: "\e004";
}
.icon-streamline-umbrella-weather:before {
  content: "\e005";
}
.icon-banknote:before {
  content: "\e094";
}
.icon-bubble-4:before {
  content: "\e095";
}
.icon-bulb:before {
  content: "\e096";
}
.icon-calendar-1:before {
  content: "\e097";
}
.icon-camera-1:before {
  content: "\e098";
}
.icon-clip:before {
  content: "\e099";
}
.icon-clock-1:before {
  content: "\e09a";
}
.icon-cloud-1:before {
  content: "\e09b";
}
.icon-cup:before {
  content: "\e09c";
}
.icon-data:before {
  content: "\e09d";
}
.icon-diamond-1:before {
  content: "\e09e";
}
.icon-display:before {
  content: "\e09f";
}
.icon-eye:before {
  content: "\e0a0";
}
.icon-fire:before {
  content: "\e0a1";
}
.icon-food:before {
  content: "\e0a2";
}
.icon-heart-1:before {
  content: "\e0a3";
}
.icon-key:before {
  content: "\e0a4";
}
.icon-lab-1:before {
  content: "\e0a5";
}
.icon-like:before {
  content: "\e0a6";
}
.icon-location:before {
  content: "\e0a7";
}
.icon-lock-1:before {
  content: "\e0a8";
}
.icon-mail:before {
  content: "\e0a9";
}
.icon-megaphone:before {
  content: "\e0aa";
}
.icon-music:before {
  content: "\e0ab";
}
.icon-news:before {
  content: "\e0ac";
}
.icon-note:before {
  content: "\e0ad";
}
.icon-paperplane:before {
  content: "\e0ae";
}
.icon-params:before {
  content: "\e0af";
}
.icon-pen:before {
  content: "\e0b0";
}
.icon-phone-1:before {
  content: "\e0b1";
}
.icon-photo:before {
  content: "\e0b2";
}
.icon-search:before {
  content: "\e0b3";
}
.icon-settings-1:before {
  content: "\e0b4";
}
.icon-shop:before {
  content: "\e0b5";
}
.icon-sound:before {
  content: "\e0b6";
}
.icon-stack:before {
  content: "\e0b7";
}
.icon-star-1:before {
  content: "\e0b8";
}
.icon-study:before {
  content: "\e0b9";
}
.icon-t-shirt:before {
  content: "\e0ba";
}
.icon-tag-1:before {
  content: "\e0bb";
}
.icon-trash-1:before {
  content: "\e0bc";
}
.icon-truck:before {
  content: "\e0bd";
}
.icon-tv:before {
  content: "\e0be";
}
.icon-user-1:before {
  content: "\e0bf";
}
.icon-vallet:before {
  content: "\e0c0";
}
.icon-video:before {
  content: "\e0c1";
}
.icon-vynil:before {
  content: "\e0c2";
}
.icon-world:before {
  content: "\e0c3";
}
.icon-bag-1:before {
  content: "\e0c4";
}
.icon-bicycle:before {
  content: "\e0c5";
}
.icon-bicycle-vintage:before {
  content: "\e0c6";
}
.icon-browser-empty:before {
  content: "\e0c7";
}
.icon-browser-full:before {
  content: "\e0c8";
}
.icon-bubble-1-1:before {
  content: "\e0c9";
}
.icon-bubble-2-1:before {
  content: "\e0ca";
}
.icon-bubble-3-1:before {
  content: "\e0cb";
}
.icon-camera-2:before {
  content: "\e0cc";
}
.icon-clap-board:before {
  content: "\e0cd";
}
.icon-clipboard-1:before {
  content: "\e0ce";
}
.icon-clock-2:before {
  content: "\e0cf";
}
.icon-cloudy:before {
  content: "\e0d0";
}
.icon-envelope-1:before {
  content: "\e0d1";
}
.icon-file-ai:before {
  content: "\e0d2";
}
.icon-file-jpg:before {
  content: "\e0d3";
}
.icon-file-png:before {
  content: "\e0d4";
}
.icon-file-psd:before {
  content: "\e0d5";
}
.icon-file-text:before {
  content: "\e0d6";
}
.icon-graph-1:before {
  content: "\e0d7";
}
.icon-heart-2:before {
  content: "\e0d8";
}
.icon-hierarchy:before {
  content: "\e0d9";
}
.icon-hierarchy-2:before {
  content: "\e0da";
}
.icon-imac:before {
  content: "\e0db";
}
.icon-iphone:before {
  content: "\e0dc";
}
.icon-keyboard:before {
  content: "\e0dd";
}
.icon-laptop-1:before {
  content: "\e0de";
}
.icon-line:before {
  content: "\e0df";
}
.icon-list-1:before {
  content: "\e0e0";
}
.icon-list-thumbnails:before {
  content: "\e0e1";
}
.icon-lock-2:before {
  content: "\e0e2";
}
.icon-magnifier:before {
  content: "\e0e3";
}
.icon-map-1:before {
  content: "\e0e4";
}
.icon-map-pin:before {
  content: "\e0e5";
}
.icon-moon:before {
  content: "\e0e6";
}
.icon-mouse:before {
  content: "\e0e7";
}
.icon-pencil-ruler:before {
  content: "\e0e8";
}
.icon-picture-1:before {
  content: "\e0e9";
}
.icon-rain:before {
  content: "\e0ea";
}
.icon-ribbon:before {
  content: "\e0eb";
}
.icon-shoe:before {
  content: "\e0ec";
}
.icon-speaker-1:before {
  content: "\e0ed";
}
.icon-speaker-off:before {
  content: "\e0ee";
}
.icon-sun-1:before {
  content: "\e0ef";
}
.icon-tape:before {
  content: "\e0f0";
}
.icon-target:before {
  content: "\e0f1";
}
.icon-unlock:before {
  content: "\e0f2";
}
.icon-cloud-2:before {
  content: "\e0f3";
}
.icon-ipad-1:before {
  content: "\e0f4";
}
.icon-pencil-1:before {
  content: "\e0f5";
}
.icon-check:before {
  content: "\e006";
}
.icon-cancel:before {
  content: "\e007";
}
.icon-blogger:before {
  content: "\e008";
}
.icon-bnter:before {
  content: "\e009";
}
.icon-brightkite:before {
  content: "\e00a";
}
.icon-cinch:before {
  content: "\e00b";
}
.icon-cloudapp:before {
  content: "\e00c";
}
.icon-coroflot:before {
  content: "\e00d";
}
.icon-creative-commons:before {
  content: "\e00e";
}
.icon-dailybooth:before {
  content: "\e00f";
}
.icon-delicious:before {
  content: "\e010";
}
.icon-designbump:before {
  content: "\e011";
}
.icon-designfloat:before {
  content: "\e012";
}
.icon-digg:before {
  content: "\e013";
}
.icon-digg-alt:before {
  content: "\e014";
}
.icon-diigo:before {
  content: "\e015";
}
.icon-dribbble:before {
  content: "\e016";
}
.icon-dropbox:before {
  content: "\e017";
}
.icon-drupal:before {
  content: "\e018";
}
.icon-dzone:before {
  content: "\e019";
}
.icon-ebay:before {
  content: "\e01a";
}
.icon-ember:before {
  content: "\e01b";
}
.icon-etsy:before {
  content: "\e01c";
}
.icon-evernote:before {
  content: "\e01d";
}
.icon-facebook-places:before {
  content: "\e01e";
}
.icon-facto:before {
  content: "\e01f";
}
.icon-feedburner:before {
  content: "\e020";
}
.icon-flickr:before {
  content: "\e021";
}
.icon-folkd:before {
  content: "\e022";
}
.icon-formspring:before {
  content: "\e023";
}
.icon-forrst:before {
  content: "\e024";
}
.icon-foursquare:before {
  content: "\e025";
}
.icon-friendfeed:before {
  content: "\e026";
}
.icon-friendster:before {
  content: "\e027";
}
.icon-gdgt:before {
  content: "\e028";
}
.icon-goodreads:before {
  content: "\e029";
}
.icon-google:before {
  content: "\e02a";
}
.icon-google-buzz:before {
  content: "\e02b";
}
.icon-google-talk:before {
  content: "\e02c";
}
.icon-gowalla:before {
  content: "\e02d";
}
.icon-gowalla-alt:before {
  content: "\e02e";
}
.icon-grooveshark:before {
  content: "\e02f";
}
.icon-hacker-news:before {
  content: "\e030";
}
.icon-hi5:before {
  content: "\e031";
}
.icon-hype-machine:before {
  content: "\e032";
}
.icon-hyves:before {
  content: "\e033";
}
.icon-instapaper:before {
  content: "\e034";
}
.icon-itunes:before {
  content: "\e035";
}
.icon-kik:before {
  content: "\e036";
}
.icon-krop:before {
  content: "\e037";
}
.icon-last:before {
  content: "\e038";
}
.icon-linkedin:before {
  content: "\e039";
}
.icon-linkedin-alt:before {
  content: "\e03a";
}
.icon-livejournal:before {
  content: "\e03b";
}
.icon-lovedsgn:before {
  content: "\e03c";
}
.icon-meetup:before {
  content: "\e03d";
}
.icon-metacafe:before {
  content: "\e03e";
}
.icon-mixx:before {
  content: "\e03f";
}
.icon-mixx-alt:before {
  content: "\e040";
}
.icon-mobileme:before {
  content: "\e041";
}
.icon-msn-messenger:before {
  content: "\e042";
}
.icon-myspace:before {
  content: "\e043";
}
.icon-myspace-alt:before {
  content: "\e044";
}
.icon-newsvine:before {
  content: "\e045";
}
.icon-official:before {
  content: "\e046";
}
.icon-openid:before {
  content: "\e047";
}
.icon-orkut:before {
  content: "\e048";
}
.icon-pandora:before {
  content: "\e049";
}
.icon-photobucket:before {
  content: "\e04a";
}
.icon-picasa:before {
  content: "\e04b";
}
.icon-picassa:before {
  content: "\e04c";
}
.icon-pinboard:before {
  content: "\e04d";
}
.icon-ping:before {
  content: "\e04e";
}
.icon-pingchat:before {
  content: "\e04f";
}
.icon-playstation:before {
  content: "\e050";
}
.icon-plixi:before {
  content: "\e051";
}
.icon-plurk:before {
  content: "\e052";
}
.icon-podcast:before {
  content: "\e053";
}
.icon-posterous:before {
  content: "\e054";
}
.icon-quora:before {
  content: "\e055";
}
.icon-rdio:before {
  content: "\e056";
}
.icon-readernaut:before {
  content: "\e057";
}
.icon-reddit:before {
  content: "\e058";
}
.icon-retweet:before {
  content: "\e059";
}
.icon-robo:before {
  content: "\e05a";
}
.icon-rss:before {
  content: "\e05b";
}
.icon-scribd:before {
  content: "\e05c";
}
.icon-sharethis:before {
  content: "\e05d";
}
.icon-simplenote:before {
  content: "\e05e";
}
.icon-skype:before {
  content: "\e05f";
}
.icon-smugmug:before {
  content: "\e060";
}
.icon-soundcloud:before {
  content: "\e061";
}
.icon-spotify:before {
  content: "\e062";
}
.icon-squarespace:before {
  content: "\e063";
}
.icon-squidoo:before {
  content: "\e064";
}
.icon-steam:before {
  content: "\e065";
}
.icon-stumbleupon:before {
  content: "\e066";
}
.icon-technorati:before {
  content: "\e067";
}
.icon-threewords:before {
  content: "\e068";
}
.icon-tribe:before {
  content: "\e069";
}
.icon-tripit:before {
  content: "\e06a";
}
.icon-twitter-alt:before {
  content: "\e06b";
}
.icon-vcard:before {
  content: "\e06c";
}
.icon-viddler:before {
  content: "\e06d";
}
.icon-vimeo:before {
  content: "\e06e";
}
.icon-virb:before {
  content: "\e06f";
}
.icon-w3:before {
  content: "\e070";
}
.icon-whatsapp:before {
  content: "\e071";
}
.icon-wikipedia:before {
  content: "\e072";
}
.icon-windows:before {
  content: "\e073";
}
.icon-wists:before {
  content: "\e074";
}
.icon-wordpress:before {
  content: "\e075";
}
.icon-yahoo:before {
  content: "\e076";
}
.icon-yahoo-buzz:before {
  content: "\e077";
}
.icon-yahoo-messenger:before {
  content: "\e078";
}
.icon-yelp:before {
  content: "\e079";
}
.icon-youtube:before {
  content: "\e07a";
}
.icon-youtube-alt:before {
  content: "\e07b";
}
.icon-zerply:before {
  content: "\e07c";
}
.icon-zootool:before {
  content: "\e07d";
}
.icon-zynga:before {
  content: "\e07e";
}
.icon-aim:before {
  content: "\e07f";
}
.icon-aim-alt:before {
  content: "\e080";
}
.icon-amazon:before {
  content: "\e081";
}
.icon-app-store:before {
  content: "\e082";
}
.icon-apple:before {
  content: "\e083";
}
.icon-arto:before {
  content: "\e084";
}
.icon-aws:before {
  content: "\e085";
}
.icon-baidu:before {
  content: "\e086";
}
.icon-basecamp:before {
  content: "\e087";
}
.icon-bebo:before {
  content: "\e088";
}
.icon-behance:before {
  content: "\e089";
}
.icon-bing:before {
  content: "\e08a";
}
.icon-blip:before {
  content: "\e08b";
}
.icon-designmoo:before {
  content: "\e08c";
}
.icon-deviantart:before {
  content: "\e08d";
}
.icon-facebook:before {
  content: "\e08e";
}
.icon-facebook-alt:before {
  content: "\e08f";
}
.icon-github:before {
  content: "\e090";
}
.icon-github-alt:before {
  content: "\e091";
}
.icon-icq:before {
  content: "\e092";
}
.icon-identi:before {
  content: "\e093";
}
.icon-ming:before {
  content: "\e0f6";
}
.icon-mister-wong:before {
  content: "\e0f7";
}
.icon-path:before {
  content: "\e0f8";
}
.icon-paypal:before {
  content: "\e0f9";
}
.icon-qik:before {
  content: "\e0fa";
}
.icon-quik:before {
  content: "\e0fb";
}
.icon-slashdot:before {
  content: "\e0fc";
}
.icon-slideshare:before {
  content: "\e0fd";
}
.icon-tumblr:before {
  content: "\e0fe";
}
.icon-twitter:before {
  content: "\e0ff";
}
.icon-wordpress-alt:before {
  content: "\e100";
}
.icon-xing:before {
  content: "\e101";
}
.icon-fontawesome-webfont:before {
  content: "\e102";
}
.icon-fontawesome-webfont-1:before {
  content: "\e103";
}
.icon-fontawesome-webfont-2:before {
  content: "\e104";
}
.icon-fontawesome-webfont-3:before {
  content: "\e105";
}
.icon-fontawesome-webfont-4:before {
  content: "\e106";
}
.icon-fontawesome-webfont-5:before {
  content: "\e107";
}
.icon-fontawesome-webfont-6:before {
  content: "\e108";
}
.icon-fontawesome-webfont-7:before {
  content: "\e109";
}
.icon-fontawesome-webfont-8:before {
  content: "\e10a";
}
.icon-fontawesome-webfont-9:before {
  content: "\e10b";
}
.icon-fontawesome-webfont-10:before {
  content: "\e10c";
}
.icon-fontawesome-webfont-11:before {
  content: "\e10d";
}
.icon-fontawesome-webfont-12:before {
  content: "\e10e";
}
.icon-fontawesome-webfont-13:before {
  content: "\e10f";
}
.icon-fontawesome-webfont-14:before {
  content: "\e110";
}
.icon-fontawesome-webfont-15:before {
  content: "\e111";
}
.icon-fontawesome-webfont-16:before {
  content: "\e112";
}
.icon-fontawesome-webfont-17:before {
  content: "\e113";
}
.icon-fontawesome-webfont-18:before {
  content: "\e114";
}
.icon-fontawesome-webfont-19:before {
  content: "\e115";
}
.icon-fontawesome-webfont-20:before {
  content: "\e116";
}
.icon-fontawesome-webfont-21:before {
  content: "\e117";
}
.icon-fontawesome-webfont-22:before {
  content: "\e118";
}
.icon-fontawesome-webfont-23:before {
  content: "\e119";
}
.icon-fontawesome-webfont-24:before {
  content: "\e11a";
}
.icon-fontawesome-webfont-25:before {
  content: "\e11b";
}
.icon-fontawesome-webfont-26:before {
  content: "\e11c";
}
.icon-fontawesome-webfont-27:before {
  content: "\e11d";
}
.icon-fontawesome-webfont-28:before {
  content: "\e11e";
}
.icon-fontawesome-webfont-29:before {
  content: "\e11f";
}
.icon-fontawesome-webfont-30:before {
  content: "\e120";
}
.icon-fontawesome-webfont-31:before {
  content: "\e121";
}
.icon-fontawesome-webfont-32:before {
  content: "\e122";
}
.icon-fontawesome-webfont-33:before {
  content: "\e123";
}
.icon-fontawesome-webfont-34:before {
  content: "\e124";
}
.icon-fontawesome-webfont-35:before {
  content: "\e125";
}
.icon-fontawesome-webfont-36:before {
  content: "\e126";
}
.icon-fontawesome-webfont-37:before {
  content: "\e127";
}
.icon-fontawesome-webfont-38:before {
  content: "\e128";
}
.icon-fontawesome-webfont-39:before {
  content: "\e129";
}
.icon-fontawesome-webfont-40:before {
  content: "\e12a";
}
.icon-fontawesome-webfont-41:before {
  content: "\e12b";
}
.icon-fontawesome-webfont-42:before {
  content: "\e12c";
}
.icon-fontawesome-webfont-43:before {
  content: "\e12d";
}
.icon-fontawesome-webfont-44:before {
  content: "\e12e";
}
.icon-fontawesome-webfont-45:before {
  content: "\e12f";
}
.icon-fontawesome-webfont-46:before {
  content: "\e130";
}
.icon-fontawesome-webfont-47:before {
  content: "\e131";
}
.icon-fontawesome-webfont-48:before {
  content: "\e132";
}
.icon-fontawesome-webfont-49:before {
  content: "\e133";
}
.icon-fontawesome-webfont-50:before {
  content: "\e134";
}
.icon-fontawesome-webfont-51:before {
  content: "\e135";
}
.icon-fontawesome-webfont-52:before {
  content: "\e136";
}
.icon-fontawesome-webfont-53:before {
  content: "\e137";
}
.icon-fontawesome-webfont-54:before {
  content: "\e138";
}
.icon-fontawesome-webfont-55:before {
  content: "\e139";
}
.icon-fontawesome-webfont-56:before {
  content: "\e13a";
}
.icon-fontawesome-webfont-57:before {
  content: "\e13b";
}
.icon-fontawesome-webfont-58:before {
  content: "\e13c";
}
.icon-fontawesome-webfont-59:before {
  content: "\e13d";
}
.icon-fontawesome-webfont-60:before {
  content: "\e13e";
}
.icon-fontawesome-webfont-61:before {
  content: "\e13f";
}
.icon-fontawesome-webfont-62:before {
  content: "\e140";
}
.icon-fontawesome-webfont-63:before {
  content: "\e141";
}
.icon-fontawesome-webfont-64:before {
  content: "\e142";
}
.icon-fontawesome-webfont-65:before {
  content: "\e143";
}
.icon-fontawesome-webfont-66:before {
  content: "\e144";
}
.icon-fontawesome-webfont-67:before {
  content: "\e145";
}
.icon-fontawesome-webfont-68:before {
  content: "\e146";
}
.icon-fontawesome-webfont-69:before {
  content: "\e147";
}
.icon-fontawesome-webfont-70:before {
  content: "\e148";
}
.icon-fontawesome-webfont-71:before {
  content: "\e149";
}
.icon-fontawesome-webfont-72:before {
  content: "\e14a";
}
.icon-fontawesome-webfont-73:before {
  content: "\e14b";
}
.icon-fontawesome-webfont-74:before {
  content: "\e14c";
}
.icon-fontawesome-webfont-75:before {
  content: "\e14d";
}
.icon-fontawesome-webfont-76:before {
  content: "\e14e";
}
.icon-fontawesome-webfont-77:before {
  content: "\e14f";
}
.icon-fontawesome-webfont-78:before {
  content: "\e150";
}
.icon-fontawesome-webfont-79:before {
  content: "\e151";
}
.icon-fontawesome-webfont-80:before {
  content: "\e152";
}
.icon-fontawesome-webfont-81:before {
  content: "\e153";
}
.icon-fontawesome-webfont-82:before {
  content: "\e154";
}
.icon-fontawesome-webfont-83:before {
  content: "\e155";
}
.icon-fontawesome-webfont-84:before {
  content: "\e156";
}
.icon-fontawesome-webfont-85:before {
  content: "\e157";
}
.icon-fontawesome-webfont-86:before {
  content: "\e158";
}
.icon-fontawesome-webfont-87:before {
  content: "\e159";
}
.icon-fontawesome-webfont-88:before {
  content: "\e15a";
}
.icon-fontawesome-webfont-89:before {
  content: "\e15b";
}
.icon-fontawesome-webfont-90:before {
  content: "\e15c";
}
.icon-fontawesome-webfont-91:before {
  content: "\e15d";
}
.icon-fontawesome-webfont-92:before {
  content: "\e15e";
}
.icon-fontawesome-webfont-93:before {
  content: "\e15f";
}
.icon-fontawesome-webfont-94:before {
  content: "\e160";
}
.icon-fontawesome-webfont-95:before {
  content: "\e161";
}
.icon-fontawesome-webfont-96:before {
  content: "\e162";
}
.icon-fontawesome-webfont-97:before {
  content: "\e163";
}
.icon-fontawesome-webfont-98:before {
  content: "\e164";
}
.icon-fontawesome-webfont-99:before {
  content: "\e165";
}
.icon-fontawesome-webfont-100:before {
  content: "\e166";
}
.icon-fontawesome-webfont-101:before {
  content: "\e167";
}
.icon-fontawesome-webfont-102:before {
  content: "\e168";
}
.icon-fontawesome-webfont-103:before {
  content: "\e169";
}
.icon-fontawesome-webfont-104:before {
  content: "\e16a";
}
.icon-fontawesome-webfont-105:before {
  content: "\e16b";
}
.icon-fontawesome-webfont-106:before {
  content: "\e16c";
}
.icon-fontawesome-webfont-107:before {
  content: "\e16d";
}
.icon-fontawesome-webfont-108:before {
  content: "\e16e";
}
.icon-fontawesome-webfont-109:before {
  content: "\e16f";
}
.icon-fontawesome-webfont-110:before {
  content: "\e170";
}
.icon-fontawesome-webfont-111:before {
  content: "\e171";
}
.icon-fontawesome-webfont-112:before {
  content: "\e172";
}
.icon-fontawesome-webfont-113:before {
  content: "\e173";
}
.icon-fontawesome-webfont-114:before {
  content: "\e174";
}
.icon-fontawesome-webfont-115:before {
  content: "\e175";
}
.icon-fontawesome-webfont-116:before {
  content: "\e176";
}
.icon-fontawesome-webfont-117:before {
  content: "\e177";
}
.icon-fontawesome-webfont-118:before {
  content: "\e178";
}
.icon-fontawesome-webfont-119:before {
  content: "\e179";
}
.icon-fontawesome-webfont-120:before {
  content: "\e17a";
}
.icon-fontawesome-webfont-121:before {
  content: "\e17b";
}
.icon-fontawesome-webfont-122:before {
  content: "\e17c";
}
.icon-fontawesome-webfont-123:before {
  content: "\e17d";
}
.icon-fontawesome-webfont-124:before {
  content: "\e17e";
}
.icon-fontawesome-webfont-125:before {
  content: "\e17f";
}
.icon-fontawesome-webfont-126:before {
  content: "\e180";
}
.icon-fontawesome-webfont-127:before {
  content: "\e181";
}
.icon-fontawesome-webfont-128:before {
  content: "\e182";
}
.icon-fontawesome-webfont-129:before {
  content: "\e183";
}
.icon-fontawesome-webfont-130:before {
  content: "\e184";
}
.icon-fontawesome-webfont-131:before {
  content: "\e185";
}
.icon-fontawesome-webfont-132:before {
  content: "\e186";
}
.icon-fontawesome-webfont-133:before {
  content: "\e187";
}
.icon-fontawesome-webfont-134:before {
  content: "\e188";
}
.icon-fontawesome-webfont-135:before {
  content: "\e189";
}
.icon-fontawesome-webfont-136:before {
  content: "\e18a";
}
.icon-fontawesome-webfont-137:before {
  content: "\e18b";
}
.icon-fontawesome-webfont-138:before {
  content: "\e18c";
}
.icon-fontawesome-webfont-139:before {
  content: "\e18d";
}
.icon-fontawesome-webfont-140:before {
  content: "\e18e";
}
.icon-fontawesome-webfont-141:before {
  content: "\e18f";
}
.icon-fontawesome-webfont-142:before {
  content: "\e190";
}
.icon-fontawesome-webfont-143:before {
  content: "\e191";
}
.icon-fontawesome-webfont-144:before {
  content: "\e192";
}
.icon-fontawesome-webfont-145:before {
  content: "\e193";
}
.icon-fontawesome-webfont-146:before {
  content: "\e194";
}
.icon-fontawesome-webfont-147:before {
  content: "\e195";
}
.icon-fontawesome-webfont-148:before {
  content: "\e196";
}
.icon-fontawesome-webfont-149:before {
  content: "\e197";
}
.icon-fontawesome-webfont-150:before {
  content: "\e198";
}
.icon-fontawesome-webfont-151:before {
  content: "\e199";
}
.icon-fontawesome-webfont-152:before {
  content: "\e19a";
}
.icon-fontawesome-webfont-153:before {
  content: "\e19b";
}
.icon-fontawesome-webfont-154:before {
  content: "\e19c";
}
.icon-fontawesome-webfont-155:before {
  content: "\e19d";
}
.icon-fontawesome-webfont-156:before {
  content: "\e19e";
}
.icon-fontawesome-webfont-157:before {
  content: "\e19f";
}
.icon-fontawesome-webfont-158:before {
  content: "\e1a0";
}
.icon-fontawesome-webfont-159:before {
  content: "\e1a1";
}
.icon-fontawesome-webfont-160:before {
  content: "\e1a2";
}
.icon-fontawesome-webfont-161:before {
  content: "\e1a3";
}
.icon-fontawesome-webfont-162:before {
  content: "\e1a4";
}
.icon-fontawesome-webfont-163:before {
  content: "\e1a5";
}
.icon-fontawesome-webfont-164:before {
  content: "\e1a6";
}
.icon-fontawesome-webfont-165:before {
  content: "\e1a7";
}
.icon-fontawesome-webfont-166:before {
  content: "\e1a8";
}
.icon-fontawesome-webfont-167:before {
  content: "\e1a9";
}
.icon-fontawesome-webfont-168:before {
  content: "\e1aa";
}
.icon-fontawesome-webfont-169:before {
  content: "\e1ab";
}
.icon-fontawesome-webfont-170:before {
  content: "\e1ac";
}
.icon-fontawesome-webfont-171:before {
  content: "\e1ad";
}
.icon-fontawesome-webfont-172:before {
  content: "\e1ae";
}
.icon-fontawesome-webfont-173:before {
  content: "\e1af";
}
.icon-fontawesome-webfont-174:before {
  content: "\e1b0";
}
.icon-fontawesome-webfont-175:before {
  content: "\e1b1";
}
.icon-fontawesome-webfont-176:before {
  content: "\e1b2";
}
.icon-fontawesome-webfont-177:before {
  content: "\e1b3";
}
.icon-fontawesome-webfont-178:before {
  content: "\e1b4";
}
.icon-fontawesome-webfont-179:before {
  content: "\e1b5";
}
.icon-fontawesome-webfont-180:before {
  content: "\e1b6";
}
.icon-fontawesome-webfont-181:before {
  content: "\e1b7";
}
.icon-fontawesome-webfont-182:before {
  content: "\e1b8";
}
.icon-fontawesome-webfont-183:before {
  content: "\e1b9";
}
.icon-fontawesome-webfont-184:before {
  content: "\e1ba";
}
.icon-fontawesome-webfont-185:before {
  content: "\e1bb";
}
.icon-fontawesome-webfont-186:before {
  content: "\e1bc";
}
.icon-fontawesome-webfont-187:before {
  content: "\e1bd";
}
.icon-fontawesome-webfont-188:before {
  content: "\e1be";
}
.icon-fontawesome-webfont-189:before {
  content: "\e1bf";
}
.icon-fontawesome-webfont-190:before {
  content: "\e1c0";
}
.icon-fontawesome-webfont-191:before {
  content: "\e1c1";
}
.icon-fontawesome-webfont-192:before {
  content: "\e1c2";
}
.icon-fontawesome-webfont-193:before {
  content: "\e1c3";
}
.icon-fontawesome-webfont-194:before {
  content: "\e1c4";
}
.icon-fontawesome-webfont-195:before {
  content: "\e1c5";
}
.icon-fontawesome-webfont-196:before {
  content: "\e1c6";
}
.icon-fontawesome-webfont-197:before {
  content: "\e1c7";
}
.icon-fontawesome-webfont-198:before {
  content: "\e1c8";
}
.icon-fontawesome-webfont-199:before {
  content: "\e1c9";
}
.icon-fontawesome-webfont-200:before {
  content: "\e1ca";
}
.icon-fontawesome-webfont-201:before {
  content: "\e1cb";
}
.icon-fontawesome-webfont-202:before {
  content: "\e1cc";
}
.icon-fontawesome-webfont-203:before {
  content: "\e1cd";
}
.icon-fontawesome-webfont-204:before {
  content: "\e1ce";
}
.icon-fontawesome-webfont-205:before {
  content: "\e1cf";
}
.icon-fontawesome-webfont-206:before {
  content: "\e1d0";
}
.icon-fontawesome-webfont-207:before {
  content: "\e1d1";
}
.icon-fontawesome-webfont-208:before {
  content: "\e1d2";
}
.icon-fontawesome-webfont-209:before {
  content: "\e1d3";
}
.icon-fontawesome-webfont-210:before {
  content: "\e1d4";
}
.icon-fontawesome-webfont-211:before {
  content: "\e1d5";
}
.icon-fontawesome-webfont-212:before {
  content: "\e1d6";
}
.icon-fontawesome-webfont-213:before {
  content: "\e1d7";
}
.icon-fontawesome-webfont-214:before {
  content: "\e1d8";
}
.icon-fontawesome-webfont-215:before {
  content: "\e1d9";
}
.icon-fontawesome-webfont-216:before {
  content: "\e1da";
}
.icon-fontawesome-webfont-217:before {
  content: "\e1db";
}
.icon-fontawesome-webfont-218:before {
  content: "\e1dc";
}
.icon-fontawesome-webfont-219:before {
  content: "\e1dd";
}
.icon-fontawesome-webfont-220:before {
  content: "\e1de";
}
.icon-fontawesome-webfont-221:before {
  content: "\e1df";
}
.icon-fontawesome-webfont-222:before {
  content: "\e1e0";
}
.icon-fontawesome-webfont-223:before {
  content: "\e1e1";
}
.icon-fontawesome-webfont-224:before {
  content: "\e1e2";
}
.icon-fontawesome-webfont-225:before {
  content: "\e1e3";
}
.icon-fontawesome-webfont-226:before {
  content: "\e1e4";
}
.icon-fontawesome-webfont-227:before {
  content: "\e1e5";
}
.icon-fontawesome-webfont-228:before {
  content: "\e1e6";
}
.icon-fontawesome-webfont-229:before {
  content: "\e1e7";
}
.icon-fontawesome-webfont-230:before {
  content: "\e1e8";
}
.icon-fontawesome-webfont-231:before {
  content: "\e1e9";
}
.icon-fontawesome-webfont-232:before {
  content: "\e1ea";
}
.icon-fontawesome-webfont-233:before {
  content: "\e1eb";
}
.icon-fontawesome-webfont-234:before {
  content: "\e1ec";
}
.icon-fontawesome-webfont-235:before {
  content: "\e1ed";
}
.icon-fontawesome-webfont-236:before {
  content: "\e1ee";
}
.icon-fontawesome-webfont-237:before {
  content: "\e1ef";
}
.icon-fontawesome-webfont-238:before {
  content: "\e1f0";
}
.icon-fontawesome-webfont-239:before {
  content: "\e1f1";
}
.icon-fontawesome-webfont-240:before {
  content: "\e1f2";
}
.icon-fontawesome-webfont-241:before {
  content: "\e1f3";
}
.icon-fontawesome-webfont-242:before {
  content: "\e1f4";
}
.icon-fontawesome-webfont-243:before {
  content: "\e1f5";
}
.icon-fontawesome-webfont-244:before {
  content: "\e1f6";
}
.icon-fontawesome-webfont-245:before {
  content: "\e1f7";
}
.icon-fontawesome-webfont-246:before {
  content: "\e1f8";
}
.icon-fontawesome-webfont-247:before {
  content: "\e1f9";
}
.icon-fontawesome-webfont-248:before {
  content: "\e1fa";
}
.icon-fontawesome-webfont-249:before {
  content: "\e1fb";
}
.icon-fontawesome-webfont-250:before {
  content: "\e1fc";
}
.icon-fontawesome-webfont-251:before {
  content: "\e1fd";
}
.icon-fontawesome-webfont-252:before {
  content: "\e1fe";
}
.icon-fontawesome-webfont-253:before {
  content: "\e1ff";
}
.icon-fontawesome-webfont-254:before {
  content: "\e200";
}
.icon-fontawesome-webfont-255:before {
  content: "\e201";
}
.icon-fontawesome-webfont-256:before {
  content: "\e202";
}
.icon-fontawesome-webfont-257:before {
  content: "\e203";
}
.icon-fontawesome-webfont-258:before {
  content: "\e204";
}
.icon-fontawesome-webfont-259:before {
  content: "\e205";
}
.icon-fontawesome-webfont-260:before {
  content: "\e206";
}
.icon-fontawesome-webfont-261:before {
  content: "\e207";
}
.icon-fontawesome-webfont-262:before {
  content: "\e208";
}
.icon-fontawesome-webfont-263:before {
  content: "\e209";
}
.icon-fontawesome-webfont-264:before {
  content: "\e20a";
}
.icon-fontawesome-webfont-265:before {
  content: "\e20b";
}
.icon-fontawesome-webfont-266:before {
  content: "\e20c";
}
.icon-fontawesome-webfont-267:before {
  content: "\e20d";
}
.icon-fontawesome-webfont-268:before {
  content: "\e20e";
}
.icon-fontawesome-webfont-269:before {
  content: "\e20f";
}
.icon-fontawesome-webfont-270:before {
  content: "\e210";
}
.icon-fontawesome-webfont-271:before {
  content: "\e211";
}
.icon-fontawesome-webfont-272:before {
  content: "\e212";
}
.icon-fontawesome-webfont-273:before {
  content: "\e213";
}
.icon-fontawesome-webfont-274:before {
  content: "\e214";
}
.icon-fontawesome-webfont-275:before {
  content: "\e215";
}
.icon-fontawesome-webfont-276:before {
  content: "\e216";
}
.icon-fontawesome-webfont-277:before {
  content: "\e217";
}
.icon-fontawesome-webfont-278:before {
  content: "\e218";
}
.icon-fontawesome-webfont-279:before {
  content: "\e219";
}
.icon-fontawesome-webfont-280:before {
  content: "\e21a";
}
.icon-fontawesome-webfont-281:before {
  content: "\e21b";
}
.icon-fontawesome-webfont-282:before {
  content: "\e21c";
}
.icon-fontawesome-webfont-283:before {
  content: "\e21d";
}
.icon-fontawesome-webfont-284:before {
  content: "\e21e";
}
.icon-fontawesome-webfont-285:before {
  content: "\e21f";
}
.icon-fontawesome-webfont-286:before {
  content: "\e220";
}
.icon-fontawesome-webfont-287:before {
  content: "\e221";
}
.icon-fontawesome-webfont-288:before {
  content: "\e222";
}
.icon-fontawesome-webfont-289:before {
  content: "\e223";
}
.icon-fontawesome-webfont-290:before {
  content: "\e224";
}
.icon-fontawesome-webfont-291:before {
  content: "\e225";
}
.icon-fontawesome-webfont-292:before {
  content: "\e226";
}
.icon-fontawesome-webfont-293:before {
  content: "\e227";
}
.icon-fontawesome-webfont-294:before {
  content: "\e228";
}
.icon-fontawesome-webfont-295:before {
  content: "\e229";
}
.icon-fontawesome-webfont-296:before {
  content: "\e22a";
}
.icon-fontawesome-webfont-297:before {
  content: "\e22b";
}
.icon-fontawesome-webfont-298:before {
  content: "\e22c";
}
.icon-fontawesome-webfont-299:before {
  content: "\e22d";
}
.icon-fontawesome-webfont-300:before {
  content: "\e22e";
}
.icon-fontawesome-webfont-301:before {
  content: "\e22f";
}
.icon-fontawesome-webfont-302:before {
  content: "\e230";
}
.icon-fontawesome-webfont-303:before {
  content: "\e231";
}
.icon-fontawesome-webfont-304:before {
  content: "\e232";
}
.icon-fontawesome-webfont-305:before {
  content: "\e233";
}
.icon-fontawesome-webfont-306:before {
  content: "\e234";
}
.icon-fontawesome-webfont-307:before {
  content: "\e235";
}
.icon-fontawesome-webfont-308:before {
  content: "\e236";
}
.icon-fontawesome-webfont-309:before {
  content: "\e237";
}
.icon-fontawesome-webfont-310:before {
  content: "\e238";
}
.icon-fontawesome-webfont-311:before {
  content: "\e239";
}
.icon-fontawesome-webfont-312:before {
  content: "\e23a";
}
.icon-fontawesome-webfont-313:before {
  content: "\e23b";
}
.icon-fontawesome-webfont-314:before {
  content: "\e23c";
}
.icon-fontawesome-webfont-315:before {
  content: "\e23d";
}
.icon-fontawesome-webfont-316:before {
  content: "\e23e";
}
.icon-fontawesome-webfont-317:before {
  content: "\e23f";
}
.icon-fontawesome-webfont-318:before {
  content: "\e240";
}
.icon-fontawesome-webfont-319:before {
  content: "\e241";
}
.icon-fontawesome-webfont-320:before {
  content: "\e242";
}
.icon-fontawesome-webfont-321:before {
  content: "\e243";
}
.icon-fontawesome-webfont-322:before {
  content: "\e244";
}
.icon-fontawesome-webfont-323:before {
  content: "\e245";
}
.icon-fontawesome-webfont-324:before {
  content: "\e246";
}
.icon-fontawesome-webfont-325:before {
  content: "\e247";
}
.icon-fontawesome-webfont-326:before {
  content: "\e248";
}
.icon-fontawesome-webfont-327:before {
  content: "\e249";
}
.icon-fontawesome-webfont-328:before {
  content: "\e24a";
}
.icon-fontawesome-webfont-329:before {
  content: "\e24b";
}
.icon-fontawesome-webfont-330:before {
  content: "\e24c";
}
.icon-fontawesome-webfont-331:before {
  content: "\e24d";
}
.icon-fontawesome-webfont-332:before {
  content: "\e24e";
}
.icon-fontawesome-webfont-333:before {
  content: "\e24f";
}
.icon-fontawesome-webfont-334:before {
  content: "\e250";
}
.icon-fontawesome-webfont-335:before {
  content: "\e251";
}
.icon-fontawesome-webfont-336:before {
  content: "\e252";
}
.icon-fontawesome-webfont-337:before {
  content: "\e253";
}
.icon-fontawesome-webfont-338:before {
  content: "\e254";
}
.icon-fontawesome-webfont-339:before {
  content: "\e255";
}
.icon-fontawesome-webfont-340:before {
  content: "\e256";
}
.icon-fontawesome-webfont-341:before {
  content: "\e257";
}
.icon-fontawesome-webfont-342:before {
  content: "\e258";
}
.icon-fontawesome-webfont-343:before {
  content: "\e259";
}
.icon-fontawesome-webfont-344:before {
  content: "\e25a";
}
.icon-fontawesome-webfont-345:before {
  content: "\e25b";
}
.icon-fontawesome-webfont-346:before {
  content: "\e25c";
}
.icon-fontawesome-webfont-347:before {
  content: "\e25d";
}
.icon-fontawesome-webfont-348:before {
  content: "\e25e";
}
.icon-fontawesome-webfont-349:before {
  content: "\e25f";
}
.icon-fontawesome-webfont-350:before {
  content: "\e260";
}
.icon-fontawesome-webfont-351:before {
  content: "\e261";
}
.icon-fontawesome-webfont-352:before {
  content: "\e262";
}
.icon-fontawesome-webfont-353:before {
  content: "\e263";
}
.icon-fontawesome-webfont-354:before {
  content: "\e264";
}
.icon-fontawesome-webfont-355:before {
  content: "\e265";
}
.icon-fontawesome-webfont-356:before {
  content: "\e266";
}
.icon-fontawesome-webfont-357:before {
  content: "\e267";
}
.icon-fontawesome-webfont-358:before {
  content: "\e268";
}
.icon-fontawesome-webfont-359:before {
  content: "\e269";
}

.pixeden  {
    height: 63px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    display: block;

}
.pd-icon-monitor {
    background: url(../assets/pd-icons/icon-monitor.png) no-repeat;
    width: 68px;
}
.pd-icon-camera {
    background: url(../assets/pd-icons/icon-camera.png) no-repeat;
    width: 66px;
}
.pd-icon-check {
    background: url(../assets/pd-icons/icon-check.png) no-repeat;
    width: 62px;
}

.pd-icon-email-marketing {
    background: url(../assets/pd-icons/icon-openmail.png) no-repeat;
    width: 61px;
}

.pd-icon-worldmap {
    background: url(../assets/pd-icons/icon-worldmap.png) no-repeat;
    width: 61px;
}

.pd-icon-voicemail {
    background: url(../assets/pd-icons/icon-voicemail.png) no-repeat;
    width: 57px;
}

.pd-icon-wallet {
    background: url(../assets/pd-icons/icon-wallet.png) no-repeat;
    width: 67px;
}

.pd-icon-view {
    background: url(../assets/pd-icons/icon-view.png) no-repeat;
    width: 62px;
}

.pd-icon-user {
    background: url(../assets/pd-icons/icon-user.png) no-repeat;
    width: 62px;
}

.pd-icon-upload2 {
    background: url(../assets/pd-icons/icon-upload2.png) no-repeat;
    width: 57px;
}

.pd-icon-upload {
    background: url(../assets/pd-icons/icon-upload.png) no-repeat;
    width: 57px;
}

.pd-icon-truck {
    background: url(../assets/pd-icons/icon-truck.png) no-repeat;
    width: 63px;
}

.pd-icon-ticket {
    background: url(../assets/pd-icons/icon-ticket.png) no-repeat;
    width: 54px;
}

.pd-icon-tablet {
    background: url(../assets/pd-icons/icon-tablet.png) no-repeat;
    width: 61px;
}

.pd-icon-statistics {
    background: url(../assets/pd-icons/icon-statistics.png) no-repeat;
    width: 62px;
}

.pd-icon-shop {
    background: url(../assets/pd-icons/icon-shop.png) no-repeat;
    width: 68px;
}

.pd-icon-search {
    background: url(../assets/pd-icons/icon-search.png) no-repeat;
    width: 62px;
}

.pd-icon-ribbon {
    background: url(../assets/pd-icons/icon-ribbon.png) no-repeat;
    width: 48px;
}

.pd-icon-responsive {
    background: url(../assets/pd-icons/icon-responsive.png) no-repeat;
    width: 66px;
}

.pd-icon-print {
    background: url(../assets/pd-icons/icon-print.png) no-repeat;
    width: 62px;
}

.pd-icon-portfolio {
    background: url(../assets/pd-icons/icon-portfolio.png) no-repeat;
    width: 67px;
}

.pd-icon-photo {
    background: url(../assets/pd-icons/icon-photo.png) no-repeat;
    width: 69px;
}

.pd-icon-phone {
    background: url(../assets/pd-icons/icon-phone.png) no-repeat;
    width: 44px;
}

.pd-icon-notes {
    background: url(../assets/pd-icons/icon-notes.png) no-repeat;
    width: 63px;
}

.pd-icon-money {
    background: url(../assets/pd-icons/icon-money.png) no-repeat;
    width: 62px;
}

.pd-icon-media {
    background: url(../assets/pd-icons/icon-media.png) no-repeat;
    width: 62px;
}

.pd-icon-map {
    background: url(../assets/pd-icons/icon-map.png) no-repeat;
    width: 69px;
}

.pd-icon-lock {
    background: url(../assets/pd-icons/icon-lock.png) no-repeat;
    width: 53px;
}

.pd-icon-help {
    background: url(../assets/pd-icons/icon-help.png) no-repeat;
    width: 62px;
}

.pd-icon-heart {
    background: url(../assets/pd-icons/icon-heart.png) no-repeat;
    width: 66px;
}

.pd-icon-graph {
    background: url(../assets/pd-icons/icon-graph.png) no-repeat;
    width: 66px;
}

.pd-icon-folder {
    background: url(../assets/pd-icons/icon-folder.png) no-repeat;
    width: 70px;
}

.pd-icon-flag {
    background: url(../assets/pd-icons/icon-flag.png) no-repeat;
    width: 62px;
}

.pd-icon-film {
    background: url(../assets/pd-icons/icon-film.png) no-repeat;
    width: 52px;
}

.pd-icon-file {
    background: url(../assets/pd-icons/icon-file.png) no-repeat;
    width: 50px;
}

.pd-icon-drop {
    background: url(../assets/pd-icons/icon-drop.png) no-repeat;
    width: 48px;
}

.pd-icon-download {
    background: url(../assets/pd-icons/icon-download.png) no-repeat;
    width: 58px;
}

.pd-icon-disk {
    background: url(../assets/pd-icons/icon-disk.png) no-repeat;
    width: 62px;
}

.pd-icon-culture {
    background: url(../assets/pd-icons/icon-culture.png) no-repeat;
    width: 62px;
}

.pd-icon-console {
    background: url(../assets/pd-icons/icon-console.png) no-repeat;
    width: 57px;
}

.pd-icon-config {
    background: url(../assets/pd-icons/icon-config.png) no-repeat;
    width: 62px;
}

.pd-icon-compas {
    background: url(../assets/pd-icons/icon-compas.png) no-repeat;
    width: 57px;
}

.pd-icon-comments {
    background: url(../assets/pd-icons/icon-comments.png) no-repeat;
    width: 67px;
}

.pd-icon-clock {
    background: url(../assets/pd-icons/icon-clock.png) no-repeat;
    width: 61px;
}

.pd-icon-calendar {
    background: url(../assets/pd-icons/icon-calendar.png) no-repeat;
    width: 69px;
}

.pd-icon-book {
    background: url(../assets/pd-icons/icon-book.png) no-repeat;
    width: 55px;
}

.pd-icon-bag2 {
    background: url(../assets/pd-icons/icon-bag2.png) no-repeat;
    width: 67px;
}

.pd-icon-bag {
    background: url(../assets/pd-icons/icon-bag.png) no-repeat;
    width: 58px;
}

.pd-icon-arrows {
    background: url(../assets/pd-icons/icon-arrows.png) no-repeat;
    width: 61px;
}
