<body>
	<link rel="shortcut icon" href="images/icons/Img1.png">
    <section class="products" id="products">
    <div class="color-overlay">
    	<div class="container">
            <div class="section-header">
    		<h2 class="white-text">Beneficiados</h2>
    		</div>
    	</div>

<!--=========================OSC============================== -->
<section class="focus" id="Nosotros">
	<div class="container">
	<div class="row projects">
		<div id="loader">
			<div class="loader-icon"></div>
		</div>
		<div class="col-md-12" id="portfolio-list">
			<ul class="cbp-rfgrid">
			<h2>OSC</h2>
			<br><br>
			<div>
			<h5>Apoyamos a las Organizaciones de la Sociedad Civil (OSC) principalmente de 2 formas:</h5><br>
			<h4><strong>Difusión directa.</strong> En la mayoría de los programas que impartimos se tiene la oportunidad de que nos acompañen para poder explicar su causa durante 15 minutos ante los asistentes (20 – 30) de las diferentes empresas de la zona. El objetivo de esta actividad es que las empresas estén en contacto directo con las OSC.</h4>
			<br>
			<h4><strong>Aportación en especie.</strong> Si la empresa que asiste a los programas no posee la Membresía de Formación y Desarrollo, podrá acceder al curso llevando algo de lo que necesita la OSC a apoyar (se les envía una la lista de artículos que necesitan).</h4>
			<br>
			</div>
			<br><br>
			<li class="wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<a href="http://vifac.org/" class="more"><img src="images/osc/1.jpg"  alt="OSC"/>
				<div class="project-info">
					<div class="project-details">
						<h5 class="white-text red-border-bottom">
							Vida y Familia IAP (VIFAC) Querétaro </h5>
					</div>
				</div>
				</a>
			</li>

			<li class="wow fadeInDown animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<a href="https://amat.org.mx/" class="more"><img src="images/osc/2.jpg" alt="OSC" />
				<div class="project-info">
					<div class="project-details">
						<h5 class="white-text red-border-bottom">
							AMAT AC</h5>
					</div>
				</div>
				</a>
			</li>
			
			<li class="wow fadeInDown animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<a href="http://www.alegriadelosninos.org/" class="more"><img src="images/osc/3.jpg"  alt="OSC"/>
				<div class="project-info">
					<div class="project-details">
						<h5 class="white-text red-border-bottom">
							La Alegría de los Niños IAP</h5>
					</div>
				</div>
				</a>
			</li>
			
			<li class="wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<a href="http://www.larche.org/" class="more"><img src="images/osc/4.jpg"  alt="OSC"/>
				<div class="project-info">
					<div class="project-details">
						<h5 class="white-text red-border-bottom">
							El Arca en Querétaro IAP</h5>
					</div>
				</div>
				</a>
			</li>
			
			<li class="wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.8s" data-wow-delay="0.15s">
			<a href="https://gigisplayhouse.org/mexico/" class="more"><img src="images/osc/5.jpg" alt="OSC"/>
				<div class="project-info">
					<div class="project-details">
						<h5 class="white-text red-border-bottom">
							Gigi's Playhouse México IAP</h5>
					</div>
				</div>
				</a>
			</li>
			
			<li>
			<a href="http://www.fundacionkristen.org.mx/" class="more"><img src="images/osc/6.jpg" alt="OSC"/>
				<div class="project-info">
					<div class="project-details">
						<h5 class="white-text red-border-bottom">
							Fundación Kristen AC </h5>
					</div>
				</div>
				</a>
			</li>
			
			<li>
			<a href="http://www.manoscapaces.org/" class="more"><img src="images/osc/7.jpg"  alt="OSC"/>
				<div class="project-info">
					<div class="project-details">
						<h5 class="white-text red-border-bottom">
							Manos Capaes IAP
						</h5>
					</div>
				</div>
				</a>
			</li>
			
			<li class="wow fadeInRight animated" data-wow-offset="30" data-wow-duration="2s" data-wow-delay="0.25s">
			<a href="http://www.proyectodevida.org.mx/" class="more"><img src="images/osc/8.jpg"  alt="OSC"/>
				<div class="project-info">
					<div class="project-details">
						<h5 class="white-text red-border-bottom">
							Proyecto de Vida IAP</h5>
					</div>
				</div>
				</a>
			</li>
			</ul>
		</div>
	</div>
	<div class="row projects">
		<div id="loader">
			<div class="loader-icon"></div>
		</div>
		<div class="col-md-12" id="portfolio-list">
			<ul class="cbp-rfgrid">
			<br><br><br>
			<h2>EMPRESAS</h2>
			<br><br>
			<div>
			<h5>¿Qué empresas nos han acompañado?</h5><br>
			<h4>Gracias a que impartimos formación, desarrollo y capacitación únicamente con los MEJORES bienhechores (Universidades, consultoras, facilitadores) que impactan significativamente en las empresas de la zona, muchos colaboradores de estas -no importando su giro o tamaño- han podido aprovechar nuestros programas.
			</h4>
			<br><br>
			<li class="wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<a href="http://vifac.org/" class="more"><img src="images/osc/1.jpg"  alt="project"/>
				<div class="project-info">
					<div class="project-details">
						<h5 class="white-text red-border-bottom">
							Vida y Familia IAP (VIFAC) Querétaro </h5>
					</div>
				</div>
				</a>
			</li>

			<li class="wow fadeInDown animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<a href="https://amat.org.mx/" class="more"><img src="images/osc/2.jpg" alt="project" />
				<div class="project-info">
					<div class="project-details">
						<h5 class="white-text red-border-bottom">
							AMAT AC</h5>
					</div>
				</div>
				</a>
			</li>
			
			<li class="wow fadeInDown animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<a href="http://www.alegriadelosninos.org/" class="more"><img src="images/osc/3.jpg"  alt="project"/>
				<div class="project-info">
					<div class="project-details">
						<h5 class="white-text red-border-bottom">
							La Alegría de los Niños IAP</h5>
					</div>
				</div>
				</a>
			</li>
			
			<li class="wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<a href="http://www.larche.org/" class="more"><img src="images/osc/4.jpg"  alt="project"/>
				<div class="project-info">
					<div class="project-details">
						<h5 class="white-text red-border-bottom">
							El Arca en Querétaro IAP</h5>
					</div>
				</div>
				</a>
			</li>
			
			<li class="wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.8s" data-wow-delay="0.15s">
			<a href="https://gigisplayhouse.org/mexico/" class="more"><img src="images/osc/5.jpg" alt="project"/>
				<div class="project-info">
					<div class="project-details">
						<h5 class="white-text red-border-bottom">
							Gigi's Playhouse México IAP</h5>
					</div>
				</div>
				</a>
			</li>
			
			<li>
			<a href="http://www.fundacionkristen.org.mx/" class="more"><img src="images/osc/6.jpg" alt="project"/>
				<div class="project-info">
					<div class="project-details">
						<h5 class="white-text red-border-bottom">
							Fundación Kristen AC </h5>
					</div>
				</div>
				</a>
			</li>
			
			<li>
			<a href="http://www.manoscapaces.org/" class="more"><img src="images/osc/7.jpg"  alt="project"/>
				<div class="project-info">
					<div class="project-details">
						<h5 class="white-text red-border-bottom">
							Manos Capaes IAP
						</h5>
					</div>
				</div>
				</a>
			</li>
			
			<li class="wow fadeInRight animated" data-wow-offset="30" data-wow-duration="2s" data-wow-delay="0.25s">
			<a href="http://www.proyectodevida.org.mx/" class="more"><img src="images/osc/8.jpg"  alt="project"/>
				<div class="project-info">
					<div class="project-details">
						<h5 class="white-text red-border-bottom">
							Proyecto de Vida IAP</h5>
					</div>
				</div>
				</a>
			</li>
			</ul>
		</div>
	</div>
	</div>
	</div>
	</div> <!-- / END CONTAINER -->
	</section> <!-- / END WORKS SECTION --> 
    		
		<!-- SCRIPTS -->
		<script src="js/bootstrap.min.js"></script>
		<script src="js/wow.min.js"></script>
		<script src="js/jquery.nav.js"></script>
		<script src="js/jquery.vegas.min.js"></script>
		<script src="js/zerif.js"></script>
		
		</body>
</html>
		