    <section class="products" data-type="background" data-speed="1" id="products">
    <div class="color-overlay">
    	<div class="container">
            <div class="section-header">
    		<h2 class="white-text">Cursos</h2>
    	</div>
    		<div class="row wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                    <div class="col-md-5">
    				<div class="item item-1">
    					<div class="item-overlay">
    					</div>
    					<div class="item-content">
    						<div class="item-top-content">
    							<div class="item-top-content-inner">
    								<div class="item-product">
    									<div class="item-top-title">
    										<h5>Descubriendo Nuevas Actitudes</h5> 
    										<p class="subdescription">
    											 01 / Marzo / 2017
    										</p> 
    									</div>
    								</div>
    							</div>
    						</div>
    						<div class="item-add-content">
    							<div class="item-add-content-inner">
    								<div class="section">
    									<p>
    										Horario: 9:00 a 19:00 hrs
    									</p>
    								</div>
    								<div class="section">
    									<a href="#" class="btn btn-primary custom-button red-btn">Inscribirse</a><br/>
    									<a href="#" class="btn btn-primary custom-button green-btn">Mas Información</a>
    								</div>
    							</div>
    						</div>
    					</div>
    				</div>
				</div> 
				<div class="col-md-5">
    				<div class="item item-2">
    					<div class="item-overlay">
    					</div>
    					<div class="item-content">
    						<div class="item-top-content">
    							<div class="item-top-content-inner">
    								<div class="item-product">
    									<div class="item-top-title">
    										<h5>Liderazgo en Proyectos</h5> 
    										<p class="subdescription">
    											 10 / Marzo / 2017
    										</p> 
    									</div>
    								</div>
    							</div>
    						</div>
    						<div class="item-add-content">
    							<div class="item-add-content-inner">
    								<div class="section">
    									<p>
    										Horario: 9:00 a 19:00 hrs
    									</p>
    								</div>
    								<div class="section">
    									<a href="#" class="btn btn-primary custom-button red-btn">Inscribirse</a><br/>
    									<a href="#" class="btn btn-primary custom-button green-btn">Mas Información</a>
    								</div>
    							</div>
    						</div>
    					</div>
    				</div>
				</div> 
			</div>
    			<div class="row wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
					<div class="col-md-5">
						<div class="item item-3">
							<div class="item-overlay">
							</div>
							<div class="item-content">
								<div class="item-top-content">
									<div class="item-top-content-inner">
										<div class="item-product">
											<div class="item-top-title">
												<h5>The Samurai Game</h5> 
												<p class="subdescription">
													 21 / Abril / 2017
												</p> 
											</div>
										</div>
									</div>
								</div>
								<div class="item-add-content">
									<div class="item-add-content-inner">
										<div class="section">
											<p>
												Horario: 9:00 a 19:00 hrs
											</p>
										</div>
										<div class="section">
											<a href="#" class="btn btn-primary custom-button red-btn">Inscribirse</a><br/>
											<a href="#" class="btn btn-primary custom-button green-btn">Mas Información</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div> 
					<div class="col-md-5">
						<div class="item item-4">
							<div class="item-overlay">
							</div>
							<div class="item-content">
								<div class="item-top-content">
									<div class="item-top-content-inner">
										<div class="item-product">
											<div class="item-top-title">
												<h5>Reingeneria Actitudinal</h5> 
												<p class="subdescription">
													 26 / Abril / 2017
												</p> 
											</div>
										</div>
									</div>
								</div>
								<div class="item-add-content">
									<div class="item-add-content-inner">
										<div class="section">
											<p>
												Horario: 9:00 a 19:00 hrs
											</p>
										</div>
										<div class="section">
											<a href="#" class="btn btn-primary custom-button red-btn">Inscribirse</a><br/>
											<a href="#" class="btn btn-primary custom-button green-btn">Mas Información</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div> 
    		</div>
    	</div>
    </div>
    </section> 