
<!-- SCRIPTS -->
<script src="js/bootstrap.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.nav.js"></script>
<script src="js/jquery.vegas.min.js"></script>
<script src="js/zerif.js"></script>