<!--=========================
   PhotoSlide
==============================--> 
<section>
	<div class="container">
		<h1 class="intro">POTENCIANDO LIDERES, GENERANDO ESPERANZA</h1>
		<div class="buttons inpage-scroll">
			<a href="#works" class="btn btn-primary custom-button red-btn">Cursos</a>
			<a href="#pricingtable" class="btn btn-primary custom-button blue-btn">Testimonios</a>
		</div>
	</div>
</section>


<!--=========================
Calendario
============================== -->
<section class="focus" id="Nosotros">
<div class="container">

	<div class="container">
		<!-- SECTION HEADER -->
		<div class="section-header">
			<!-- SECTION TITLE -->
			<h2 class="dark-text">Calendario</h2>
			<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
			<h6>
				Próximamente
			</h6>
		</div>
	</div>

	<article class="separator-one">
		<div class="color-overlay">
			<h3 class="container text wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			We have 100+ happy customers in last few years. You can check what they're saying about us. </h3>
			<div class="wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
				<a href="" class="btn btn-primary custom-button blue-btn">TESTIMONIALS</a>
			</div>
		</div>
	</article>  

	<section class="focus" id="Empresas">
		<div class="container">
			<div class="container">
				<!-- SECTION HEADER -->
				<div class="section-header">
					<!-- SECTION TITLE -->
					<h2 class="dark-text">Empresas</h2>
					<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
					<h6>
						Próximamente
					</h6>
				</div>
			</div>

<div class="row projects">
	<div id="loader">
	    <div class="loader-icon"></div>
	</div>
	<div class="col-md-12" id="portfolio-list">
		<ul class="cbp-rfgrid">
        <li class="wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
        <a href="details.php" class="more"><img src="images/portfolio/1.jpg"  alt="project"/>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Project Title </h5>
					<div class="details white-text">
						Web Design
					</div>
				</div>
			</div>
			</a>
        </li>

        <li class="wow fadeInDown animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
        <a href="project.html" class="more"><img src="images/portfolio/2.jpg" alt="project" />
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Project Title </h5>
					<div class="details white-text">
						Web Design
					</div>
				</div>
			</div>
			</a>
        </li>
        
        <li class="wow fadeInDown animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
        <a href="project.html" class="more"><img src="images/portfolio/3.jpg"  alt="project"/>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Project Title </h5>
					<div class="details white-text">
						Web Design
					</div>
				</div>
			</div>
			</a>
        </li>
        
        <li class="wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
        <a href="project.html" class="more"><img src="images/portfolio/4.jpg"  alt="project"/>
			<div class="project-info">
				<div class="project-details">
					<h5 class="white-text red-border-bottom">
					Project Title </h5>
					<div class="details white-text">
						Web Design
					</div>
				</div>
			</div>
			</a>
        </li>
		</ul>
	</div>
</div>

<section class="focus" id="Empresas">
	<div class="container">
		<div class="container">
			<!-- SECTION HEADER -->
			<div class="section-header">
				<!-- SECTION TITLE -->
				<h2 class="dark-text">Bienechores</h2>
				<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
				<h6>
					Próximamente
				</h6>
			</div>
		</div>

<div class="row projects">
<div id="loader">
	<div class="loader-icon"></div>
</div>
<div class="col-md-12" id="portfolio-list">
	<ul class="cbp-rfgrid">
	<li class="wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
	<a href="details.php" class="more"><img src="images/portfolio/1.jpg"  alt="project"/>
		<div class="project-info">
			<div class="project-details">
				<h5 class="white-text red-border-bottom">
				Project Title </h5>
				<div class="details white-text">
					Web Design
				</div>
			</div>
		</div>
		</a>
	</li>

	<li class="wow fadeInDown animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
	<a href="project.html" class="more"><img src="images/portfolio/2.jpg" alt="project" />
		<div class="project-info">
			<div class="project-details">
				<h5 class="white-text red-border-bottom">
				Project Title </h5>
				<div class="details white-text">
					Web Design
				</div>
			</div>
		</div>
		</a>
	</li>
	
	<li class="wow fadeInDown animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
	<a href="project.html" class="more"><img src="images/portfolio/3.jpg"  alt="project"/>
		<div class="project-info">
			<div class="project-details">
				<h5 class="white-text red-border-bottom">
				Project Title </h5>
				<div class="details white-text">
					Web Design
				</div>
			</div>
		</div>
		</a>
	</li>
	
	<li class="wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
	<a href="project.html" class="more"><img src="images/portfolio/4.jpg"  alt="project"/>
		<div class="project-info">
			<div class="project-details">
				<h5 class="white-text red-border-bottom">
				Project Title </h5>
				<div class="details white-text">
					Web Design
				</div>
			</div>
		</div>
		</a>
	</li>
	</ul>
</div>
</div>

<!-- =========================
   Nosotros
============================== -->

<section class="our-team" id="team">
<div class="container">
		<div class="section-header">
			<h2 class="dark-text">¿Quiénes Somos?</h2>
			<h6>
				Somos una organización sin fines de lucro que busca fortalecer el vínculo entre el sector privado y las Organizaciones de la Sociedad Civil, a través de estrategias integrales que generen beneficio mutuo.
			</h6>
		</div>

	<div class="row wow fadeInRight animated" data-wow-offset="40" data-wow-duration="3s" data-wow-delay="0.15s">
		<div class="col-lg-6 col-sm-6">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="images/team/1.jpg" alt=""> 
				</figure>
				<div class="member-details">
					<h5 class="dark-text red-border-bottom">Jason Daniels</h5>
					<div class="position">
						Founder
					</div>
				</div>
				<div class="social-icons">
					<ul>
						<li><a href=""><i class="icon-facebook"></i></a></li>
					</ul>
				</div>
				<div class="details">
					<p>
						Hola..................
					</p>
				</div>
			</div>
		</div>

		<div class="col-lg-6 col-sm-6">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="images/team/2.jpg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text green-border-bottom">Patricia Medina</h5>
					<div class="position">
						Fundadora
					</div>
				</div>
				<div class="social-icons">
					<ul>
						<li><a href=""><i class="icon-facebook"></i></a></li>
					</ul>
				</div>
				<div class="details">
					<p>
						Hola..............
					</p>
				</div>
			</div>
		</div>
	</div> <!-- / END TEAM MEMBER LIST -->

</div> <!-- / END CONTAINER -->
</section> <!-- / END OUR TEAM SECTION -->

<article class="separator-one">
	<div class="color-overlay">
		<h3 class="container text wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
		We have 100+ happy customers in last few years. You can check what they're saying about us. </h3>
		<div class="wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<a href="" class="btn btn-primary custom-button blue-btn">TESTIMONIALS</a>
		</div>
	</div>
</article>  

</div>

